<!-- Google Maps Geo location and Styles  -->

<ng-map default-style="false"
styles="[{stylers:[{hue:'#5cf442'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#180ba8'}]}]"
zoom="10"
center="current-location"
default= "44.98034238,-93.26293945">

<!-- Drops all pins in vm.shops array of objects using ng-repeat-->
<marker id='{{shop.id}}' position="{{shop.position}}"
ng-repeat="shop in vm.shops"
on-click="vm.showDetail(shop)">
</marker>

<md-sidenav class="md-sidenav-left" md-component-id="left"
md-disable-backdrop md-whiteframe="4" style= "background-color: white; opacity:.9;">

<!--Roster Chat Window -->
<md-toolbar class="md-theme-indigo" style = "box-shadow: 2px 2px black; text-align: center;">
  <h1 style= 'text-align:center; font-size: 23px; font-weight: bolder; background-color: #2d3451; color: white; text-shadow: 1px 1px 1px red; font-fmaily: Sigmar+One;'class="md-toolbar-tools">
    Welcome to Roster Chat</h1>
  </md-toolbar>
  <div id="scrollBox">
    <script type="text/javascript">
    $("#scrollBox")[0].scrollTop =  $("#scrollBox")[0].scrollHeight
    myDiv.scrollTop = myDiv.scrollHeight;
    </script>

    <div ng-repeat='item in vm.items.shelfItems'>
      {{item.user}}:&nbsp {{item.item}}<br>
    </div>
  </div>
  <!-- chat div  -->
  <div class="input-group" style= ' padding-bottom: 10px;'>
    <input ng-model="vm.description" name="alias" placeholder="message..." style = "border:1px solid grey;" type="text" class="form-control" id="rosterChat" placeholder="message...">
    <span class="input-group-btn">
      <button ng-click = "vm.addItem(vm.shop.id)" class = 'btn btn-success' type="button" name="button">Send Message</button>
    </span>
  </div>
  <!-- Button to toggle roster chat and/or slide it back to the left and out of view -->
</script>


<div style = 'bottom:0; left: 0;'>
  <button style = 'width: 100px; margin-left: 40px; text-align: center;' class = "btn btn-success" ng-click="count = count + .5" ng-init="count=0">
    Join Roster
  </button>
  <button style = 'width: 100px; margin-left: 40px; text-align: center;background-color: tomato;' class = "btn btn-danger" ng-click="count = count - .5" ng-init="0">
    Leave Roster
  </button>
  <br>
  <ul style = "float:left;">
    <li style = "postion: sticky;">Current roster:{{count}}</li>
    <!-- start -->

    <span style = 'margin-right:20px; z-index: 30; font-size: 20px; text-align: center; width: auto; height: auto; color: green; border-radius: 20px 20px 20px 20px; font-weight:bolder;' ng-mouseenter="showIt()" ng-mouseleave="hideIt()">Show Roster</span>
    <div style= 'border-radius: 20px 20px 20px 20px;' class="outerDiv" ng-show="hovering">
      <p>{{vm.shop.roster.toString('')}}</p>
    </div>

    <!-- end -->
    <li>Location: {{vm.shop.Location}}</li>
    <li><div ng-repeat="time in vm.gameTimeArray">
      Games today: {{ time }}
    </div></li>
    <li>Address: <a ng-href="{{ vm.shop.address }}">{{ vm.shop.address}}</a></li>
  </ul>
  <md-button class = 'btn btn-danger' style='width: 95%; background-color: tomato; border-radius: 5px 5px 5px 5px; color: white;' ng-click="vm.toggleLeft('left')">
    Close Roster Chat
  </md-button>
</div>
</md-sidenav>

<!-- This is the info window that pops up when you click on a pin and displays the location, next game and current roster -->
<info-window id="map-canvas">
  <div ng-non-bindable="" >
    <ul style='font-weight: bolder;'>
      <li>Location: {{vm.shop.Location}}</li>
      <li>Games today: <div ng-repeat="time in vm.gameTimeArray">
        {{ time }}
      </div></li>
      <li>Current roster:{{count}}</li>
    </ul>

    <!-- button to open rosterchat -->
    <md-button class="btn btn-success" style='margin-left: 25%; border-radius: 5px 5px 5px 5px; background-color:yellow; color:black; text-shadow:2px 2px 2px white; ' ng-click="vm.toggleLeft('left', vm.shop.id)">
      Open Roster Chat
    </md-button>

  </info-window>

</div>
