
<ng-map default-style="false"
styles="[{stylers:[{hue:'#4CFF28'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#49D8EE'}]}]"
zoom="10"
center="current-location"
default= "44.98034238,-93.26293945">
<!-- above, centers map over mpls, the higher the zoom level, the closer the zoom -->
<marker position="44.85615401, -93.43660712" title="Eden Prairie Lifetime"></marker>
<marker position="44.979527, -93.276157" title="Target Center Lifetime"></marker>
<marker position="44.975923, -93.268808" title="Grande Hotel Lifetime"></marker>
<marker position="44.8897309, -93.4457767" title="Crosstown Eden Priarie Lifetime"></marker>
<marker position="44.961798, -93.349895" title="St Louis Park Lifetime"></marker>
<marker id='{{shop.id}}' position="{{shop.position}}"
        ng-repeat="shop in vm.shops"
        on-click="vm.showDetail(shop)">
      </marker>

      <info-window id="foo-iw">
        <div ng-non-bindable="">
          Location: {{vm.shop.Location}}<br/>
          Next Game: {{vm.shop.nextGame}}<br/>
          Current Roster:{{vm.shop.roster}}<br/>

          <!-- Position 3: {{vm.map.markers[vm.shop.id].getPosition()}}<br/> -->
          <a href="#" ng-click="vm.clicked()">Sign Up</a>
        </div>
      </info-window>
</ng-map
<button ng-click="vm.showDetail(e, vm.shop)">
      show InfoWindow of the shop
    </button>
    <button ng-click="vm.hideDetail(e, vm.shop)">
      Hide InfoWindow of the shop
    </button>
