
<ng-map default-style="false"
styles="[{stylers:[{hue:'#4CFF28'},{visibility:'simplified'},{gamma:0.5},{weight:0.5}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#49D8EE'}]}]"
zoom="10"
center="current-location"
default= "44.98034238,-93.26293945">

<marker id='{{shop.id}}' position="{{shop.position}}"
ng-repeat="shop in vm.shops"
on-click="vm.showDetail(shop)">
</marker>
<md-sidenav class="md-sidenav-left" md-component-id="left"
md-disable-backdrop md-whiteframe="4" style= "background-color: #ff33cc;">

<md-toolbar class="md-theme-indigo" style = "box-shadow: 2px 2px black;">
  <h1 class="md-toolbar-tools">Welcome to Roster Chat</h1>
</md-toolbar>

<md-content layout-margin style= "background-color: #ff33cc">

  <md-button ng-click="vm.toggleLeft('left')" class="md-accent" style= "background-color: #000000;">
    Close Roster Chat
  </md-button>
</md-content>

</md-sidenav>
<info-window id="foo-iw" style= "background-color: #000000; box-shadow: 2px 2px black;">
  <div ng-non-bindable="" style= "background-image: {{vm.shop.image}}; background-size:100%; background-repeat: no-repeat; background-position: center; box-shadow: 2px 2px black;">
  <ul>
    <li><p>Location: {{vm.shop.Location}}</p></li>
    <li><p>Next Game: {{vm.shop.nextGame}}</p></li>
    <li><p>Current Roster:{{vm.shop.roster}}</p></li>
  </li>


    <div layout="column" style="height: 150px;" style= "background-color: #000000;"ng-cloak>
      <!-- /*<style = 'background-image' '{{vm.shop.image}}'</style>*/ -->
    <!-- <ng-style = "{'background-image': '{{vm.shop.image}}'}; background-size:contain;"> -->
      <section layout="row" flex>



        <!-- <md-content flex layout-padding> -->
          <ng-style = "{'background-image': '{{vm.shop.image}}'}; box-shadow: 2px 2px black;">
          <div layout="column" layout-align="bottom center" style= "background-color:none; z-index: 3;">

              <md-button style='margin-top: 90%; background-position: fixed' ng-click="vm.toggleLeft('left')" class=" md md-raised">
                Open Roster Chat
              </md-button>


          </div>

        <!-- </md-content> -->

      </section>


      <!-- Position 3: {{vm.map.markers[vm.shop.id].getPosition()}}<br/> -->
      <!-- <a href="#" ng-click="vm.clicked()">Sign Up</a> -->
    </div>
  </info-window>
  </ng-map
  <button ng-click="vm.showDetail(e, vm.shop)">

  </button>
  <button ng-click="vm.hideDetail(e, vm.shop)">

  </button>
</div>
